body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

button {
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #000;
  padding: 5px 20px;
}

button:hover {
    background-color: orange;
}

#answers {
  display: none;
}

#reset {
  display: none;
}

.answer {
    margin-bottom: 10px;
}